.custom-text {
  text-align: justify;
}

.clicable-element {
  cursor: pointer;
}

.custom-title {
margin-bottom: 0px; /* Ajusta el espacio entre el título y los elementos debajo según tus preferencias */
}

.custom-top {
margin-top:-11px; /* Ajusta el espacio entre el título y los elementos debajo según tus preferencias */
}

.border-radius {
border-radius:15px;
}

.fixed-column {
position: sticky;
top: 0;
height: 100vh; /* Opcional, ajusta la altura según tus necesidades */
overflow-y: auto; /* Opcional, agrega desplazamiento vertical si es necesario */
}