<ion-content>
  <div class="login-container">
   
    <div class="login-form">
      <form (ngSubmit) ="login( fLogin )" #fLogin="ngForm" class="formClase">
        <ion-item>
          <ion-label position="stacked" >Usuario</ion-label>
          <ion-input name="email" type="email" [(ngModel)]="loginUser.email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input name="password" type="password" [(ngModel)]="loginUser.password" required></ion-input>
        </ion-item>
        <ion-button type="submit" expand="full" color="primary">Iniciar sesión</ion-button>
      </form>
    </div>
  </div>
</ion-content>
