.login-container {
  display: flex;
  flex-direction: column; /* Coloca la imagen y el formulario en una columna */
  align-items: center; /* Centra horizontalmente en el contenedor */
  justify-content: center; /* Centra verticalmente en el contenedor */
  height: 100vh;
  text-align: left; /* Alinea el texto del formulario a la izquierda */
}

.profile-image {
  width: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px; /* Espacio entre la imagen y el formulario */
}

.login-form {
  text-align: left; /* Alinea el texto del formulario a la izquierda */
}
