<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <swiper-container lazy="true" navigation="true" pagination="true" scrollbar="true">
      <swiper-slide class="swiper-slide-custom"><img src="assets/images/carro1.jpg" loading="lazy" /></swiper-slide>
      <swiper-slide class="swiper-slide-custom"><img src="assets/images/carro2.jpg" loading="lazy" /></swiper-slide>
      <swiper-slide class="swiper-slide-custom"><img src="assets/images/carro1.jpg" loading="lazy" /></swiper-slide>
      <!-- ... -->
    </swiper-container><br>
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
